<div
  class="header-container pt-6 pl-6 pr-6 lg:pt-14 lg:pl-14 lg:pr-14 flex flex-row"
>
  <div class="text-white basis-1/2">
    <p class="text-2xl lg:text-4xl">
      Coffee<span class="font-bold">Love.</span>
    </p>
  </div>

  <div class="basis-1/2 flex flex-row hidden md:flex">
    <div class="basis-1/4"></div>
    <nav class="text-white basis-3/4 flex flex-row items-center">
      <ul class="contents text-base lg:text-xl">
        <li class="basis-1/4">
          <a class="" href="#">Home</a>
        </li>
        <li class="basis-1/4">
          <a class="" href="#">Menu</a>
        </li>
        <li class="basis-1/4">
          <a class="" href="#">About</a>
        </li>
        <li class="basis-1/4">
          <a class="" href="#">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
