:host {
  .empty-space {
    height: 300px;

    @media (min-width: 768px) {
      height: 450px;
    }

    @media (min-width: 1440px) {
      height: 600px;
    }
  }

  .slogan {
    max-width: 250px;

    @media (min-width: 1024px) {
      max-width: 800px;
    }
  }

  .description {
    max-width: 600px;

    @media (min-width: 1024px) {
      max-width: 800px;
    }
  }

  button {
    width: 150px;
    height: 40px;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}
