<div>
  <app-header class="absolute z-10"></app-header>
  <div class="z-0 absolute landing-container grid lg:grid-cols-2">
    <div class="bg-img-wrapper">
      <img src="../../assets/coffee1.jpg" alt="" />
    </div>
    <div class="bg-img-wrapper flex sm:hidden lg:flex">
      <img src="../../assets/coffee2.jpg" alt="" />
    </div>
  </div>

  <div class="empty-space"></div>

  <div class="text-white z-10 relative pl-8 pr-8 lg:pl-16 lg:pr-16">
    <p class="slogan text-5xl xl:text-7xl font-bold">Your Coffee. Your Way</p>
    <p class="description mt-4 text-base xl:text-xl">
      Lorem ipsum dolor sit amet. Ut soluta accusamus et nulla accusamus ex
      assumenda odit. Aut tenetur laudantium non Quis facere a nihil dignissimos
      et placeat debitis ut amet dolor. Et totam doloribus est commodi fuga sit
      enim deleniti sed natus asperiores.
    </p>
  </div>

  <div class="relative mt-4 pl-8 pr-8 lg:pl-16 lg:pr-16">
    <button>
      <span class="font-bold">ORDER NOW</span>
    </button>
  </div>
</div>
